---
import Layout from '../layouts/Layout.astro';
---

<Layout title="spon.io">
	<main class="max-w-5xl mx-auto w-full py-8 self-center flex-1 flex justify-center flex-col px-6">
		<p class="spon mb-6 text-7xl  font-bold tracking-tight text-zinc-800 dark:text-zinc-100 self-start">/ˈwɑː.fəl.kɑːp.tər/</p>
		<div class="max-w-xl mb-12">
			<div class="text-lg font-semibold tracking-tight text-zinc-800 dark:text-zinc-100"><h1 style="--angle: 90deg" class="spon inline">I’m Dave.</h1> Senior Frontend developer <a style="--angle: 90deg" class="spon" href="https://www.kerve.co.uk/">@Kerve</a>.</div>
		</div>

		<div class="flex gap-5">
			<a href="mailto:hello@spon.io" class="dark:text-white hover:opacity-75 transition-opacity">
				<span class="sr-only">Email</span>
				<svg class="fill-current w-6" viewBox="0 0 15 15"><path d="M1 2C0.447715 2 0 2.44772 0 3V12C0 12.5523 0.447715 13 1 13H14C14.5523 13 15 12.5523 15 12V3C15 2.44772 14.5523 2 14 2H1ZM1 3L14 3V3.92494C13.9174 3.92486 13.8338 3.94751 13.7589 3.99505L7.5 7.96703L1.24112 3.99505C1.16621 3.94751 1.0826 3.92486 1 3.92494V3ZM1 4.90797V12H14V4.90797L7.74112 8.87995C7.59394 8.97335 7.40606 8.97335 7.25888 8.87995L1 4.90797Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
			</a>
			<a href="https://github.com/magicspon" class="dark:text-white hover:opacity-75 transition-opacity">
				<span class="sr-only">Github</span>
				<svg class="fill-current w-6" viewBox="0 0 15 15"><path d="M7.49933 0.25C3.49635 0.25 0.25 3.49593 0.25 7.50024C0.25 10.703 2.32715 13.4206 5.2081 14.3797C5.57084 14.446 5.70302 14.2222 5.70302 14.0299C5.70302 13.8576 5.69679 13.4019 5.69323 12.797C3.67661 13.235 3.25112 11.825 3.25112 11.825C2.92132 10.9874 2.44599 10.7644 2.44599 10.7644C1.78773 10.3149 2.49584 10.3238 2.49584 10.3238C3.22353 10.375 3.60629 11.0711 3.60629 11.0711C4.25298 12.1788 5.30335 11.8588 5.71638 11.6732C5.78225 11.205 5.96962 10.8854 6.17658 10.7043C4.56675 10.5209 2.87415 9.89918 2.87415 7.12104C2.87415 6.32925 3.15677 5.68257 3.62053 5.17563C3.54576 4.99226 3.29697 4.25521 3.69174 3.25691C3.69174 3.25691 4.30015 3.06196 5.68522 3.99973C6.26337 3.83906 6.8838 3.75895 7.50022 3.75583C8.1162 3.75895 8.73619 3.83906 9.31523 3.99973C10.6994 3.06196 11.3069 3.25691 11.3069 3.25691C11.7026 4.25521 11.4538 4.99226 11.3795 5.17563C11.8441 5.68257 12.1245 6.32925 12.1245 7.12104C12.1245 9.9063 10.4292 10.5192 8.81452 10.6985C9.07444 10.9224 9.30633 11.3648 9.30633 12.0413C9.30633 13.0102 9.29742 13.7922 9.29742 14.0299C9.29742 14.2239 9.42828 14.4496 9.79591 14.3788C12.6746 13.4179 14.75 10.7025 14.75 7.50024C14.75 3.49593 11.5036 0.25 7.49933 0.25Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
			</a>
			<a href="https://www.linkedin.com/in/magicspon/" class="dark:text-white hover:opacity-75 transition-opacity">
				<span class="sr-only">Linkedin</span>
				<svg class="fill-current w-6" viewBox="0 0 15 15"><path d="M2 1C1.44772 1 1 1.44772 1 2V13C1 13.5523 1.44772 14 2 14H13C13.5523 14 14 13.5523 14 13V2C14 1.44772 13.5523 1 13 1H2ZM3.05 6H4.95V12H3.05V6ZM5.075 4.005C5.075 4.59871 4.59371 5.08 4 5.08C3.4063 5.08 2.925 4.59871 2.925 4.005C2.925 3.41129 3.4063 2.93 4 2.93C4.59371 2.93 5.075 3.41129 5.075 4.005ZM12 8.35713C12 6.55208 10.8334 5.85033 9.67449 5.85033C9.29502 5.83163 8.91721 5.91119 8.57874 6.08107C8.32172 6.21007 8.05265 6.50523 7.84516 7.01853H7.79179V6.00044H6V12.0047H7.90616V8.8112C7.8786 8.48413 7.98327 8.06142 8.19741 7.80987C8.41156 7.55832 8.71789 7.49825 8.95015 7.46774H9.02258C9.62874 7.46774 10.0786 7.84301 10.0786 8.78868V12.0047H11.9847L12 8.35713Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
			</a>
			<a href="https://soundcloud.com/idiotcomposer/" class="dark:text-white hover:opacity-75 transition-opacity">
				<span class="sr-only">Soundcloud</span>
				<svg class="fill-current w-6" viewBox="0 0 300 300"><path d="M14.492 208.896c.619 0 1.143-.509 1.232-1.226l3.365-26.671-3.355-27.278c-.1-.717-.623-1.23-1.242-1.23-.635 0-1.176.524-1.26 1.23l-2.941 27.278 2.941 26.662c.084.716.625 1.235 1.26 1.235zM3.397 198.752c.608 0 1.101-.473 1.19-1.18l2.608-16.574-2.608-16.884c-.09-.685-.582-1.18-1.19-1.18-.635 0-1.127.495-1.217 1.19L0 180.999l2.18 16.569c.09.701.582 1.184 1.217 1.184zM27.762 148.644c-.08-.867-.715-1.5-1.503-1.5-.782 0-1.418.633-1.491 1.5l-2.811 32.355 2.811 31.174c.073.862.709 1.487 1.491 1.487.788 0 1.423-.625 1.503-1.487l3.18-31.174-3.18-32.355zM38.152 214.916c.922 0 1.668-.759 1.758-1.751l3.005-32.156-3.005-33.258c-.09-.999-.836-1.749-1.758-1.749-.935 0-1.692.751-1.756 1.754l-2.656 33.253 2.656 32.156c.064.993.821 1.751 1.756 1.751zM50.127 215.438c1.074 0 1.936-.86 2.025-2.011l-.01.008 2.83-32.426-2.83-30.857c-.08-1.132-.941-2.005-2.016-2.005-1.09 0-1.947.873-2.012 2.014l-2.502 30.849 2.502 32.418c.066 1.15.923 2.01 2.013 2.01zM67.132 181.017l-2.655-50.172c-.074-1.272-1.065-2.286-2.281-2.286-1.207 0-2.195 1.013-2.269 2.286l-2.35 50.172 2.35 32.418c.074 1.278 1.063 2.278 2.269 2.278 1.217 0 2.207-1 2.281-2.278v.009l2.655-32.427zM74.386 215.766c1.339 0 2.45-1.111 2.513-2.529v.021l2.482-32.233-2.482-61.656c-.063-1.418-1.174-2.529-2.513-2.529-1.37 0-2.471 1.111-2.545 2.529l-2.185 61.656 2.195 32.222c.064 1.408 1.165 2.519 2.535 2.519zM86.645 111.435c-1.508 0-2.725 1.238-2.787 2.799l-2.033 66.801 2.033 31.884c.063 1.553 1.279 2.783 2.787 2.783 1.504 0 2.73-1.22 2.783-2.788v.016l2.307-31.895-2.307-66.801c-.053-1.571-1.28-2.799-2.783-2.799zM99.01 215.766c1.656 0 2.975-1.336 3.037-3.056v.019l2.133-31.693-2.133-69.045c-.063-1.714-1.381-3.056-3.037-3.056-1.666 0-3.005 1.342-3.031 3.056l-1.916 69.045 1.916 31.693c.026 1.701 1.365 3.037 3.031 3.037zM111.477 215.734c1.787 0 3.237-1.463 3.291-3.318v.029l1.963-31.404-1.963-67.289c-.054-1.854-1.504-3.311-3.291-3.311-1.8 0-3.25 1.456-3.303 3.311l-1.725 67.289 1.736 31.389c.042 1.841 1.492 3.304 3.292 3.304zM129.359 181.041l-1.777-64.836c-.043-2-1.609-3.571-3.551-3.571-1.947 0-3.514 1.571-3.555 3.584l-1.594 64.823 1.594 31.198c.041 1.984 1.607 3.556 3.555 3.556 1.941 0 3.508-1.572 3.551-3.585v.029l1.777-31.198zM136.682 215.853c2.064 0 3.773-1.717 3.805-3.828v.017l1.613-30.984-1.613-77.153c-.031-2.119-1.74-3.833-3.805-3.833-2.063 0-3.767 1.722-3.809 3.844l-1.434 77.111 1.434 31.016c.042 2.093 1.746 3.81 3.809 3.81zM149.291 92.814c-2.229 0-4.037 1.849-4.074 4.103l-1.667 84.151 1.677 30.526c.027 2.225 1.836 4.068 4.064 4.068 2.195 0 4.037-1.844 4.047-4.105v.037l1.82-30.526-1.82-84.151c-.01-2.262-1.852-4.103-4.047-4.103zM160.82 215.882c.09.008 101.623.056 102.275.056 20.385 0 36.904-16.722 36.904-37.357 0-20.624-16.52-37.349-36.904-37.349a36.315 36.315 0 0 0-14.275 2.907c-2.922-33.671-30.815-60.077-64.842-60.077-8.318 0-16.429 1.662-23.593 4.469-2.788 1.09-3.534 2.214-3.556 4.392v118.539c.032 2.29 1.778 4.193 3.991 4.42z"/></svg>
			</a>
		</div>
	</main>
</Layout>


<style>

	:root {
		--angle: 294deg
	}


	a:hover,
	.spon {
		-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
		background-image: linear-gradient(
			var(--angle),
			hsl(330, 100%, 45.1%) 0%,
			hsl(330.39, 78.74%, 49.09%) 8.4%,
			hsl(328.14, 69.81%, 50.06%) 15.5%,
			hsl(324.73, 63.17%, 50.4%) 21.4%,
			hsl(320.04, 56.08%, 50.34%) 26.5%,
			hsl(313.65, 48.79%, 49.93%) 31%,
			hsl(304.79, 42.31%, 49.23%) 35.2%,
			hsl(292.85, 39.58%, 50.58%) 39.3%,
			hsl(280.71, 42.89%, 53.41%) 43.5%,
			hsl(268.79, 46.44%, 56.06%) 48.2%,
			hsl(257.04, 50.21%, 58.52%) 53.6%,
			hsl(245.36, 54.14%, 60.78%) 60%,
			hsl(234.18, 60.62%, 60.51%) 67.5%,
			hsl(225.7, 68.33%, 57.8%) 76.5%,
			hsl(218.85, 75.04%, 54.16%) 87.3%,
			hsl(210, 100%, 45.1%) 100%
		);
	}
	

	.spon--reverse {
		--angle: 45deg;
	}

</style>
