.nav {
	@apply bg-brand perf-fixed inset-x-0 bottom-0 h-screen flex flex-col justify-between py-6 items-center invisible opacity-0;

	top: config('height.7');
	height: calc(config('height.1vh') * 100 - config('height.7'));
	transition: opacity 300ms ease, visibility 0ms 300ms;
}

.isOpen {
	@apply visible opacity-100;

	transition-delay: 0ms;
}

@screen sm {
	.nav {
		@apply py-7;
	}
}

@screen md {
	.nav {
		@apply flex-row ml-auto relative bg-transparent h-auto top-0 py-0 visible opacity-100;
	}
}

/* @screen lg {
	.nav {
		@apply mr-7;
	}
} */
